/*
body {
    padding-top: 70px;
}

.pagination li {
    display: inline-block;
    list-style: none;
}

.pagination.pagination-right {
    float: right;
}

.pagination {
    margin: 5px 0;
}

.pagination .current-page {
    margin: 0 10px;
}
*/
/*
.head-nav .nav-pills > li.highlight > a {
    color: #EA1E2A;
}

.head-nav .nav-pills > li > a:hover,
.head-nav .nav-pills > li.highlight > a:hover {
    color: #CA1020;
}

.carousel-tabs li.active {
    color: #CA1020;
}
.carousel-tabs li:hover {
    color: #EA1E2A !important;
}
a {
  color: #F46720;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #EA1E2A;
  text-decoration: underline;
}
*/
/*
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #DA0E1A;
  border-color: #CA0E1A;
}

.filter-parameter .btn {
    height: 48px;
    border-color: #FFF;
}

.product-thumb-price .add-to-cart {
    display: inline-block;
    float: right;
    padding: 4px 8px;
}

.home-pagination {
    margin-top: 3em;
}

.home-pagination .pagination {
    display: inline;
    text-align: center;
    margin: 0 auto;
}

.carousel-inner .item .js-masonry a {
    float: left;
    width: 50%;
    height: auto;
    overflow: hidden;
}

.carousel-inner .item .js-masonry a img {
    width: 100%;
    height: auto;
}

.product-thumb-inner figure.img-responsive img {
    width: 100%;
}

.product-love.user-loved, .product-love.user-loved .bigger-shoopicon {
    color: #DB1E29;
}

.content-area.container > .content {
    padding: 2em;
    background: #FEFEFE;
    margin-top: 2em;
}

.content-area.container > .content .form-control {
    border-color: #EEE;
}

.content-area.container > .content .form-horizontal .control-label {
    font-weight: bold;
    text-align: left;
}

.product-overview .share-buttons {
    margin-top: 14px;
}

.table-user-stats-data {
    color: #EA1E2A;
}

.follow-following:hover {
    cursor: default;
    background-color: #EA1E2A;
}

.comment-by-author .comment-author {
    color: #E91622;
}

.form-control.input-comment:focus {
    border-color: #F0AD4E;
    box-shadow: none;
    outline: 0 none;
}

.input-comment {
    border-width: 1px;
}
*/
// loading animation / spinner

@-webkit-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-moz-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-o-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

/* Styles for old versions of IE */
.circles {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.circles:not(:required) {
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: rgba(255, 204, 51, 0.9);
  border-radius: 100%;
  -webkit-animation: circles 3s infinite ease-in-out;
  -moz-animation: circles 3s infinite ease-in-out;
  -ms-animation: circles 3s infinite ease-in-out;
  -o-animation: circles 3s infinite ease-in-out;
  animation: circles 3s infinite ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.circles:not(:required)::before {
  background: rgba(255, 102, 0, 0.6);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: -10.82532px;
}
.circles:not(:required)::after {
  background: rgba(255, 51, 0, 0.4);
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: 10.82532px;
}


/** upload product ***/
.add-foto{
  padding:55px 5px;
  border:1px solid #eee;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
}
.add-foto:hover{  
  border:1px solid red;
  cursor: pointer;
}
.img-upload {
  margin-right: 40px;
}
.img-upload img {
    width: 130px;
    height: 130px;
    border:1px solid #eee;
    border-radius: 5px;
    padding: 2px;
}
.del-image {
    background: url('../img/sprite-dash.1.0.6.png') no-repeat scroll -134px -129px transparent;
    width: 24px;
    height: 24px;
    padding: 0px;
    top: inherit;
    left: inherit;
    position: absolute;
    margin: -24px 0px 0px;
    z-index: 101;
}
.save-product{
  padding:20px 30px;
}

.content-area.container > .content {
    padding: 2em;
    background: none repeat scroll 0% 0% #FEFEFE;
    margin-top: 2em;
}
.form-control{
	border: 3px solid #F3F1F2;
}
.alamat-lain{
  border: 1px solid #eee;
}
#img_pp img{
  width:150px;
  height:150px;
}
.upload-progress {
position: relative;
float: left;
width: 130px;
height: 130px;
border:1px solid #eee;
border-radius: 5px;
text-align: center;
background: #fff url('../img/loader-lite.gif') center no-repeat;
opacity: .9;
-moz-opacity: .9;
filter: alpha(opacity=.99);
}
.loading-comment{
  background: #fff url('../img/loader-lite.gif') center no-repeat;
  padding:5px 100px;
  display:none;
}

.loading_ongkir{
  background: #fff url('../img/loader-lite.gif') center no-repeat;
  padding:5px 100px;
}

.loading-comment{
  background: #fff url('../img/loader-lite.gif') center no-repeat;
  padding:5px 100px;
  display:none;
}
.product-love.user-loved, .product-love.user-loved .bigger-shoopicon {
    color: #DB1E29;
}

/** styling step order **/

#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}


ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 32%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}
ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
@media (max-width: 379px) {
ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 1.3em;
    padding-bottom: 5px;
}
}
@media (width: 480px) {
  ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 1.3em;
}
}
@media (min-width: 481px) {
ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}
}
@media (min-width: 767px){
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: #F3F1F2;
    font-size: 1.5em;
    bottom: -1.6em;
}
}
/** end styling step order **/

.logo_power img{
  height:30px;
  margin:5px;
}

.alert-dismissable .close {
position: relative;
top: -17px;
right: -42px;
color: inherit;
}

.error{
  color:red;
  padding:10px;
}

.mail_icon{
  bottom: 25px;
  right: 0;
  position: fixed;
  padding-right: 50px;
}
.mail_icon a{
  color: #fff;
}
.recaptcha{
  width:100%;
}
.actions button.visible-xs{
  width:50%;
  float: left;
}